@import "./_colours.scss";

.Image-port {
  min-width: 44vw;
  border-style: solid;
  border-color: $primary;
  border-width: 10px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  border: none;
}
