@import "./_colours.scss";

.search-bar {
  padding: 2vh;
  border-radius: 3px;
  width: 47vw;
  min-height: 5vh;
  display: flex;
  justify-content: center;
}

.search-input {
  background-color: $voidspace;
  color: $secondary;
  border-color: $primary;
  border-width: 0.3vw;
  border-style: solid;
  min-width:90%;
}

.search-submit {
  background-color: $primary;
  border: none;
  max-width: 20%;
  border-radius: 0 2px 2px 0;
}
