$primaryColour: magenta;
$secondaryColour: cyan;

.data-body {
overflow-y: auto;
min-height: 20vh;
}

.button-panel {
  display: flex;
}

button {
  border: none;
  background-color: $primaryColour;
  border-radius: 2px;
  width: 50%;
  height: 5vh;
  font-size: 100%;
}

button:active {
  background-color: white;
}

.Sheet-main {
  min-width: 40vh;
}
.data-body {
  color:$secondaryColour;
  border-style: solid;
  border-width: 5px;
  border-color: $primaryColour;
  border-radius: 0px 0px 20px 20px;
}
