@import "./_colours.scss";

.data-body {
overflow: auto;
min-height: 20vh;
}

.button-panel {
display: flex;
flex-direction: row;
min-width: 100%;
border-color: $primary;
justify-content: space-around;
}

button {
  border: none;
  background-color: $primary;
  border-radius: 2px;
  width: 30%;
  height: 5vh;
}

button:active {
  background-color: $secondary;
}

.Sheet-main {
  display: flex;
  flex-direction: column;
  width: 50vmax;
  align-items: center;
}
.data-body {
  color: $secondary;
  min-width: 95%;
  min-height: 30vh;
  border-style: solid;
  border-width: 4px;
  border-color: $primary;
  border-radius: 0px 0px 20px 20px;
}
