.App-banner {
  text-align: justify;
  height: 20vh;
  font-size: 10vh;
  justify-content: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
